In [5]:
import polars as pl

df = pl.read_csv("https://j.mp/iriscsv")  
df.head()

shape: (5, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬─────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---     │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str     │
╞══════════════╪═════════════╪══════════════╪═════════════╪═════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ setosa  │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ setosa  │
│ 5.0          ┆ 3.6         ┆ 1.4          ┆ 0.2         ┆ setosa  │
└──────────────┴─────────────┴──────────────┴─────────────┴─────────┘

In [1]:
df_agg

In [7]:
series = pl.Series('amount', [100,200,300])
series

shape: (3,)
Series: 'amount' [i64]
[
	100
	200
	300
]

In [8]:
df.describe()

shape: (9, 6)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ describe   ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species   │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ count      ┆ 150.0        ┆ 150.0       ┆ 150.0        ┆ 150.0       ┆ 150       │
│ null_count ┆ 0.0          ┆ 0.0         ┆ 0.0          ┆ 0.0         ┆ 0         │
│ mean       ┆ 5.843333     ┆ 3.054       ┆ 3.758667     ┆ 1.198667    ┆ null      │
│ std        ┆ 0.828066     ┆ 0.433594    ┆ 1.76442      ┆ 0.763161    ┆ null      │
│ min        ┆ 4.3          ┆ 2.0         ┆ 1.0          ┆ 0.1         ┆ setosa    │
│ max        ┆ 7.9          ┆ 4.4         ┆ 6.9          ┆ 2.5         ┆ virginica │
│ median     ┆ 5.8          ┆ 3.0         ┆ 4.35         ┆ 1.3         ┆ null      │
│ 25%        ┆ 5.1          ┆ 2.8         ┆ 1.6          ┆ 0.3         ┆ null      │
│ 75%        ┆ 6.4          ┆ 3.3         ┆ 5.1          ┆ 1.8         ┆ null      │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

In [39]:
(df
.select([pl.col("^.*length$"),pl.col("species")])
.with_columns((pl.col("sepal_length") ** 2).alias("double"))
# .filter(pl.col("double") <= 25)
.groupby("species")
.agg(pl.all().mean())
)

shape: (3, 4)
┌────────────┬──────────────┬──────────────┬─────────┐
│ species    ┆ sepal_length ┆ petal_length ┆ double  │
│ ---        ┆ ---          ┆ ---          ┆ ---     │
│ str        ┆ f64          ┆ f64          ┆ f64     │
╞════════════╪══════════════╪══════════════╪═════════╡
│ setosa     ┆ 5.006        ┆ 1.464        ┆ 25.1818 │
│ versicolor ┆ 5.936        ┆ 4.26         ┆ 35.4972 │
│ virginica  ┆ 6.588        ┆ 5.552        ┆ 43.798  │
└────────────┴──────────────┴──────────────┴─────────┘

In [49]:
df.select(
    pl.col("species").n_unique()
)

shape: (1, 1)
┌─────────┐
│ species │
│ ---     │
│ u32     │
╞═════════╡
│ 3       │
└─────────┘

In [75]:
df2 =(df
.with_columns(
    pl.when(pl.col("species") == "setosa")
    .then(pl.col("sepal_length") * 1)
    .when(pl.col("species") == "versicolor")
    .then(pl.col("sepal_length") * 2)
    .otherwise(pl.col("sepal_length") * 3)
    .alias("type"))
.select(pl.col("*").exclude("^.*length$", "^.*width$"))
).sample(10)

df2

shape: (10, 2)
┌────────────┬──────┐
│ species    ┆ type │
│ ---        ┆ ---  │
│ str        ┆ f64  │
╞════════════╪══════╡
│ versicolor ┆ 12.2 │
│ versicolor ┆ 13.2 │
│ versicolor ┆ 11.4 │
│ setosa     ┆ 5.0  │
│ …          ┆ …    │
│ setosa     ┆ 4.6  │
│ setosa     ┆ 4.8  │
│ setosa     ┆ 5.1  │
│ versicolor ┆ 11.0 │
└────────────┴──────┘